@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
:root {
  --title-color: #274c77;
  --content-background: #e7ecef;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}
/*Hero*/
.hero {
  background-image: url(../images/hero-image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 100%;
  height: 100px;
}

.hero h2 {
  font-size: 200%;
}
/*nav bar*/
header {
  font-size: 150%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  color: rgb(31, 31, 31);
  text-decoration: none;
}
.nav-links li a:hover {
  color: var(--title-color);
  text-decoration: underline;
}
/* Main section*/
.main-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.section-title {
  font-size: 200%;
  color: var(--title-color);
  padding-bottom: 20px;
  margin: 0 0 5px 50px;
  flex: 0 0 10px;
  text-align: right;
}
.section-border {
  border-left: 2px solid;
  margin: 0px 50px 20px 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  flex: 0 0 75%;
  left: 300px;
  color: var(--title-color);
}
.about-me-text {
  flex: 0 0 70%;
  align-self: center;
  color: black;
}
