@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
:root {
  --title-color: #274c77;
  --content-background: #e7ecef;
  --text-color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  font-size: 105%;
  font-weight: bolder;
}
/*Hero*/
.hero {
  background-image: url(../images/hero-image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 100%;
  height: 100px;
}

.hero h2 {
  font-size: 300%;
}
/*nav bar*/
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 300%;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  color: rgb(31, 31, 31);
  text-decoration: none;
}
.nav-links li a:hover {
  color: var(--title-color);
  text-decoration: underline;
  font-size: 150%;
}
/* Main section*/
.main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.box {
  padding: 0 35px;
  margin: 10px;
  color: var(--text-color);
}

.border {
  flex: 0 0 20%;
  border-right: 3px solid;
  text-align: right;
  font-size: 300%;
  color: var(--title-color);
  padding-bottom: 20px;
}
/*Work*/
.work-box {
  flex: 5;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work-large img {
  width: 800px;
  height: 300px;
  object-fit: cover;
  object-position: 100% 0.5%;
  border: 10px solid var(--content-background);
}
.work-text {
  padding: 10px;
  background-color: var(--content-background);
  font-size: 13px;
  position: absolute;
  line-height: 1.5;
  transform: translate(0%, -140%);
  margin: 5px 0 0 10px;
}
.work-text h3 {
  font-size: 300%;
}
.work-text p {
  font-size: 150%;
}
.work-small img {
  width: 390px;
  height: 300px;
  object-fit: cover;
  object-position: 100% 0.5%;
  border: 10px solid var(--content-background);
  margin: 10px;
}

.work-large img:hover {
  cursor: pointer;
  opacity: 60%;
}
.work-small img:hover {
  cursor: pointer;
  opacity: 60%;
}

/*Contact me */
.contact-box {
  display: flex;
  justify-content: center;
}
.contact-me-text {
  padding: 35px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.contact-me-text li {
  display: inline block;
  padding: 0 20px;
}
.contact-me-text li a {
  transition: all 0.3s ease 0s;
  color: var(--text-color);
  text-decoration: none;
}
.contact-me-text li a:hover {
  color: var(--title-color);
  text-decoration: underline;
  font-size: 150%;
}

/*Footer*/
Footer {
  text-align: center;
  align-self: baseline;
}
/*Media with screen size 768 px or smaller*/
@media screen and (max-width: 768px) {
  .work-large img {
    width: 390px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 0.5%;
    border: 10px solid var(--content-background);
    margin: 10px;
  }
}

/*Media with screen size 575 px or smaller*/

@media screen and (max-width: 575px) {
  header {
    font-size: 100%;
  }

  .nav-links li {
    display: inline-block;
    padding: 0 5px;
  }
  .work-large img {
    width: 300px;
  }
  .work-small img {
    width: 300px;
  }
}
