@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
:root {
  --title-color: #274c77;
  --content-background: #e7ecef;
  --text-color: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  font-size: 105%;
  font-weight: bolder;
}
/*Hero*/
.hero {
  background-image: url(../images/hero-image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 100%;
  height: 100px;
}

.hero h2 {
  font-size: 300%;
}
/*nav bar*/
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 300%;
  background-color: aqua;
}
.nav-links {
  background-color: aqua;
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  color: rgb(31, 31, 31);
  text-decoration: none;
}
.nav-links li a:hover {
  color: var(--title-color);
  text-decoration: underline;
  font-size: 150%;
}
/* Main section*/
.main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.box {
  padding: 0 35px;
  margin: 10px;
  color: var(--text-color);
}

.border {
  flex: 0 0 20%;
  border-right: 3px solid;
  text-align: right;
  font-size: 300%;
  color: var(--title-color);
  padding-bottom: 20px;
}
/*Contact me */
.contact-me-text {
  padding: 35px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.contact-me-text li {
  display: inline block;
  padding: 0 20px;
}
.contact-me-text li a {
  transition: all 0.3s ease 0s;
  color: var(--text-color);
  text-decoration: none;
}
.contact-me-text li a:hover {
  color: var(--title-color);
  text-decoration: underline;
  font-size: 150%;
}
/*about me*/
/* CORRETCION
.main-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}
.section-title {
  font-size: 300%;
  color: var(--title-color);
  padding-bottom: 20px;
  margin: 0 0 5px 50px;
  flex: 0 0 10px;
  text-align: right;
}
.section-border {
  border-left: 2px solid;
  margin: 0px 50px 20px 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  flex: 0 0 75%;
  left: 300px;
  color: var(--title-color);
}
.about-me-text {
  flex: 0 0 70%;
  align-self: center;
  color: var(--text-color);
}
*/

/*contact me*/
/* CORRECTION
.contact-me-text {
  align-self: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact-me-text li {
  display: inline-block;
  padding: 0 20px;
  color: var(--text-color);
}
.contact-me-text li a {
  transition: all 0.3s ease 0s;
  color: rgb(31, 31, 31);
  text-decoration: none;
}
.contact-me-text li a:hover {
  color: var(--title-color);
  text-decoration: underline;
}
*/
